
* {
    margin: 0;
    padding: 0;
}

:root {
    --carwidth: 60px;
    --carheight: 80px;
    --boxwidth: 40px;
    --boxheight: 40px;
}

@media (min-width: 780px) {
    :root {
        --carwidth: 100px;
        --carheight: 120px;
        --boxwidth: 60px;
        --boxheight: 60px;
    }
}

@media (min-width: 1120px) {
    :root {
        --carwidth: 120px;
        --carheight: 140px;
        --boxwidth: 80px;
        --boxheight: 80px;
    }
}

/*======= General =======*/

.game-container {
    background: lightyellow;
    height: 99vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    width: 50vw;
    height: 100vh;
    border: red solid 3px;
}

.startScreen {
    position: absolute;
    background-color: #CB4335;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid black;
    border-radius: 90px;
    padding: 50px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 30px;
    word-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}

.startScreen:hover {
    cursor: pointer;
}

/*======= Game =======*/

.road {
    height: 100vh;
    background: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}

#car, .box {
    position: absolute;
}

#car {
    width: var(--carwidth);
    height: var(--carheight);
    bottom: 120px;
    background: url('assets/car.svg') no-repeat;
    background-size: var(--carwidth) var(--carheight);
}

.box {
    width: var(--boxwidth);
    height: var(--boxheight);
    bottom: 300px;
    background: url('assets/box.svg') no-repeat;
    background-size: var(--boxwidth) var(--boxheight);
}

/*======= Hub =======*/

.game-hub {
    margin-left: 1.5rem;
    width: 15rem;
    border: gray solid 2px;
    background-color: #2ECC71;
    padding: 15px;
    border-radius: 20px;
}

.hub-stat-main {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 10px 0 10px 10px;
}

.hub-stat {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 10px 0 5px 25px;
    /*font-weight: bold;*/
}

.hr-hub {
    background: black;
    padding: 1px;
    margin-top: 20px;
    /*width: 100%;*/
}